  body {
    font-family: sans-serif;
  }

  #title{
	width: 360px;
	height: 55px;
	top:0px;
	left:0px;
	background-image:url('images/RecycleTitle.png');
	background-color: green;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	color: white;
	text-align:center;
	font-family:Vernada, Arial, Serif;
	position: absolute;
	border:0;
	-webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 4px 8px;
	-moz-box-shadow: rgba(64, 64, 64, 0.5) 0 4px 8px;
	box-shadow: rgba(64, 64, 64, 0.1) 0 4px 8px;
  }
  	/*menu bar style*/
	#menu{
		position:absolute;
		top:0px;left:360px;right:0px;
		margin: 0px;
		padding: 0px;
		font-size:0.9em;
		font-family:'Lucida Grande', Verdana;
		foat:left;
		color: White;
		vertical-align: middle;
    }
	.menuItem{
		float:left;
	}

	/*input style*/
	input.inputB, select.inputB, input.inputB1, select.inputB1 {
		background-color:#4eb305;
	}
	input.inputB1, select.inputB1 {
		font-size:10px;
		color:white;
	}
	#radioform{
		height:125px;
	}

	#address {
		width:300px;
	}
	/*button style*/

	#directions-panel{
		font-size: 10px;
		-webkit-box-shadow: rgba(164, 164, 164, 0.5) 0 8px 16px;
	    -moz-box-shadow: rgba(164, 164, 164, 0.5) 0 8px 16px;
	    box-shadow: rgba(164, 164, 164, 0.1) 0 8px 16px;
		max-heihgt:400px;
	}
	.ui-dialog-titlebar {
		max-height:35px;
		font-size: 14px;
	}
	#dialog {
		font-size: 20px;
	}
	/* Info Window */
	.phoney {background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.21, rgb(54,94,12)),color-stop(0.5, rgb(92,160,19)),color-stop(0.81, rgb(54,94,12)));
		background-image: -moz-linear-gradient(center bottom,rgb(54,94,12) 21%,rgb(92,160,19) 50%,rgb(54,94,12) 81%);
	}
    .phoneytext {
        text-shadow: 0 -1px 0 #000;
        color: #fff;
        font-family: Helvetica Neue, Helvetica, arial;
        font-size: 12px;
        line-height: 25px;
        padding:0px 10px 0px 10px;
    }
	ul.name{
	    font-weight: bold;
	}
    .phoneytab {
	    padding: 8px;
        text-shadow: 0 -1px 0 #000;
        color: #fff;
        font-family: Helvetica Neue, Helvetica, arial;
        font-size: 15px;
		font-weight: bold;
		borderRadius: 10,
        background: #365E0C   !important;
      }
	.phoneytext a:link {color:#ffffff;text-decoration:none;}
	.phoneytext a:visited {color:#ffffff;text-decoration:none;}
	.phoneytext a:hover {color:#ffffff;text-decoration:underline;}
	.phoneytext a:active {color:#ffffff;text-decoration:underline;}
	li.recycle {
		list-style-type: none;
	}
	li.question{
		font-size:16px;
	}
	img {
		border:0;
	}
	#dialogTitle{
		font-size:30px;
		font-family: 'Helvetica Neue', Helvetica, arial;
		font-weight:bold;
	}